html, body {
    height: 100%;
    margin: 0;
    background-color: rgba(138, 138, 138, 0.699);
}

body {
    display: flex;
}

header {
    display: flex;
    justify-content: center;
}

main {
    max-width: 48rem;
    margin: 0 auto;
}

.inputbox {
    display: flex;
    justify-content: center;
}

.inputbox > input, button {
    margin: 0.5rem;
}

#message {
    height: 14rem;
    overflow-y: hidden;
}
#message > p {
    word-break: break-all;
}

.img_beans {
    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

  